#include "resource.h"
#include <windows.h>


LCDATA RCDATA "LICENSE.txt"
RED ICON MOVEABLE PURE LOADONCALL DISCARDABLE "red2.ico"
MAINICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE   "blue2.ico"

//SERPENT ICON MOVEABLE PURE LOADONCALL DISCARDABLE  "serpent.ico"
//WHIRLPOOL ICON MOVEABLE PURE LOADONCALL DISCARDABLE  "whirlpool.ico"

BMP_TEST BITMAP "logo.bmp"

//MANIFEST_RESOURCE_ID    24      MOVEABLE PURE         "arcticmyst.exe.manifest"

ZMENU MENU 
BEGIN
    POPUP "."
    BEGIN
        MENUITEM ".",                  MENU_QUIT
    END
    POPUP "."
    BEGIN
        MENUITEM ".",                  MENU_ABOUT
    END
    POPUP "."
    BEGIN
        MENUITEM ".",                  MENU_LOG
    END
    POPUP "."
    BEGIN
        MENUITEM ".",                  MENU_CRYPTO
    END
END





ZBOX DIALOGEX 0, 0, 525, 325
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "ArcticMyst Security by DeepTide, LLC (build v20221203a)"
FONT 8, "Verdana", 0, 0, 0x0
BEGIN
    ICON            MAINICON,0,14,9,20,20
    ICON            RED,0,14,32,20,20
    LTEXT           "ArcticMyst Security (C) 2022 DeepTide, LLC",-1,49,11,300,8,SS_NOPREFIX
    DEFPUSHBUTTON   "Donate",MYDONATE,355,105,105,20,WS_GROUP
    PUSHBUTTON   "DeepTide.Com",MYMINIBUTTON,355,135,105,20,WS_GROUP
    PUSHBUTTON   "Github/Source Code",BGITHUB,355,165,105,20,WS_GROUP
    PUSHBUTTON   "Balloon Attack",ABOUT_ATKBTN,355,195,105,20,WS_GROUP
    PUSHBUTTON   "Minimize Window",MYCLOSER,355,225,105,20,WS_GROUP
    LTEXT           "Software Engineers: Avery Tarasov, Grégori Macário Harbs",-1,49,21,300,8
    LTEXT           "Language: Raw C++ / Win32 API, mingw-w64-x86_64-gcc 12.2.0",-1,49,31,300,8
    LTEXT           "Open Source Libs: PCRE2 10.40, wolfSSL v5.5.3, Crypto++ 8.7.0, cURL 7.86.0, Apriorit mhook 2.5.1, PAExec 1.29, Inno Setup 6.2.1",-1,49,41,495,8
    LTEXT           "Contact: avery@deeptide.com",-1,49,51,300,8
    EDITTEXT       LICTEST,49,61,300,100,     ES_MULTILINE | WS_TABSTOP  | WS_VSCROLL | ES_AUTOVSCROLL | ES_READONLY
 	CONTROL "",STC_BMP,"Static",WS_VISIBLE|SS_BITMAP,49,165,285,251
    EDITTEXT       USERTEST,220,165,129,155,     ES_MULTILINE | WS_TABSTOP  | WS_VSCROLL | ES_AUTOVSCROLL | ES_READONLY
END



CRYPTOBOX DIALOGEX 0, 0, 445, 265
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "ArcticMyst Security - Serpent-256 Crypto"
FONT 8, "Verdana", 0, 0, 0x0
BEGIN
    ICON            MAINICON,0,14,9,20,20
    ICON            RED,0,14,32,20,20
    LTEXT           "Serpent-256 Text Encryption (CTR mode; Whirlpool Hashing)",-1,49,11,240,8,SS_NOPREFIX
    DEFPUSHBUTTON   "Encrypt Text",ENC,56,240,115,20,WS_GROUP
    PUSHBUTTON   "Decode Hex Encoding",DEC,177,240,115,20,WS_GROUP
    PUSHBUTTON   "Minimize / Clear",CMIN,315,240,115,20,WS_GROUP
    EDITTEXT       CRYPTOTEXT,49,23,250,195,    ES_MULTILINE | WS_TABSTOP | WS_VSCROLL | ES_AUTOVSCROLL
    EDITTEXT       PASSPHRASE,49,222,250,14,     WS_TABSTOP 
END












ALERTLOGBOX DIALOGEX 0, 0, 400, 275 
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU  
EXSTYLE  WS_EX_TOOLWINDOW
CAPTION "ArcticMyst Security - Alert Log Box"
FONT 8, "Verdana", 0, 0, 0x0
BEGIN
    ICON            MAINICON,0,14,9,20,20
    ICON            RED,0,14,32,20,20
    EDITTEXT       ALERTTEXT,49,10,210,238,    ES_MULTILINE | WS_TABSTOP | ES_READONLY | ES_AUTOVSCROLL
END






